.cellBT {
	border: 1px solid violet;
	padding: 15px;
	text-align: center;
	table-layout: fixed;
	width: 20px;
	height: 20px;
	font-size: 20px;
}

.table1 {
	border-collapse: collapse;
}

.cellST {
	border: 1px solid salmon;
	padding: 15px;
	text-align: center;
	table-layout: fixed;
	width: 20px;
	height: 20px;
	font-size: 20px;
}

.table2 {
	border-collapse: collapse;
	border: 2px solid salmon;
}

.cellST:hover {
	background-color: plum;
}

.text {
	float: right;
	width: 35%;
}